.gradle/
config_server/.gradle
consumer/.gradle
gateway/.gradle
sender/.gradle
service_discovery/.gradle

.idea/
config_server/.idea
consumer/.idea
gateway/.idea
sender/.idea
service_discovery/.idea

.settings/
config_server/.settings
consumer/.settings
gateway/.settings
sender/.settings
service_discovery/.settings

bin/
config_server/bin/
consumer/bin/
gateway/bin/
sender/bin/
service_discovery/bin/

build/
config_server/build/
!config_server/build/libs/
consumer/build/
!consumer/build/libs/
gateway/build/
!gateway/build/libs/
sender/build/
!sender/build/libs/
service_discovery/build/
!service_discovery/build/libs/

out/
config_server/out/
consumer/out/
gateway/out/
sender/out/
service_discovery/out/

.classpath
config_server/.classpath
consumer/.classpath
gateway/.classpath
sender/.classpath
service_discovery/.classpath

.project
config_server/.project
consumer/.project
gateway/.project
sender/.project
service_discovery/.project

properties_store

.editorconfig
.travis.yml
docker-compose.yml
LICENSE
README.md
